{% extends "admin/base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% crispy form %}

{% block extrahead %}
  {{ block.super }}
  <style>
  .filter-pad {
    margin-top: 5px;
    margin-bottom: -17px !important;
    margin-left: 10px;
  }
  .adjust-legend{
    margin-bottom:-40px;
  }

  .ui-datepicker {
      width: 216px;
      height: auto;
      margin: 5px auto 0;
      font: 9pt Arial, sans-serif;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
      background-color: #FFF;
  }

  .myCollapse {
        display: none;
  }
  .myCollapse.in {
        display: table-row;
  }

  #content {
      float:left;
      text-align:left;
      width:90%;
  }

  </style>
  {% endblock %}

  {% block extrastyle %}

  <link rel="stylesheet" href="{% static "css/jquery-ui-1.11.4.min.css" %}">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>i
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


  {% endblock %}


{% block content %}

{% if form.errors %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for field in form %} 
            {% if field.errors %}
            <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}


  <h1>Bushfire Detail</h1>
  <form action="" method="post">{% csrf_token %}

<div class="row">
    <div class="col-sm-2" > 
        <div id="div_id_region" class="form-group"> 
            <label for="id_region" class="control-label requiredField">Region*</label>
            <div class="controls ">{{form.region}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_district" class="form-group"> 
            <label for="id_district" class="control-label requiredField">District*</label>
            <div class="controls ">{{form.district}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_incident_no" class="form-group"> 
            <label for="id_incident_no" class="control-label requiredField">Incident No.*</label>
            <div class="controls ">{{form.incident_no}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_season" class="form-group"> 
            <label for="id_season" class="control-label  requiredField">Season*</label>
            <div class="controls ">{{form.season}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_job_code" class="form-group"> 
            <label for="id_job_code" class="control-label">Job Code</label>
            <div class="controls ">{{form.job_code}}</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2" > 
        <div id="div_id_name" class="form-group"> 
            <label for="id_name" class="control-label  requiredField">Name*</label>
            <div class="controls ">{{form.name}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_dfes_incident_no" class="form-group"> 
            <label for="id_dfes_incident_no" class="control-label  requiredField">DFES Incident No.*</label>
            <div class="controls ">{{form.dfes_incident_no}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_potential_fire_level" class="form-group"> 
            <label for="id_potential_fire_level" class="control-label  requiredField">Potential Fire Level*</label>
            <div class="controls ">{{form.potential_fire_level}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_authorised_by" class="form-group"> 
            <label for="id_authorised_by" class="control-label  requiredField">Authorised By*</label>
            <div class="controls ">{{form.authorised_by}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_authorised_date" class="form-group"> 
            <label for="id_authorised_date" class="control-label  requiredField">Authorised Date*</label>
            <div class="controls ">{{form.authorised_date}}</div>
        </div>
    </div>
</div>

  <ul id="report-tabs" class="nav nav-tabs">
      <li id="origin-tab"  class="active">
          <a data-toggle="tab" href="#origin">
              <i class="icon-tag"></i>
              Point of Origin
          </a>
      </li>
      <li id="detail-tab">
          <a data-toggle="tab" href="#detail">
              <i class="icon-tag"></i>
              Detail
          </a>
      </li>



      {% comment %}
    {{ form.as_p}}
      <li id="fireload-tab" {% if report == "epfp_fireload" %} class="active"{% endif %}>
          <a href="{% url 'admin:daily_burn_program' %}?report=epfp_fireload&date={{date}}">
              <i class="icon-plus"></i>
              Fire Load (268b)
          </a>
      </li>
      <li id="summary-tab"  "{% if report == "epfp_summary" %} class="active"{% endif %}>
          <a href="{% url 'admin:daily_burn_program' %}?report=epfp_summary&date={{date}}">
              <i class="icon-fire"></i>
              Approved Burns (268c)
          </a>
      </li>
      {% endcomment %}
  </ul>

  <div class="tab-content">
    <div id="origin" class="tab-pane fade in active">
        <h3>Point of Origin</h3>
        <div class="row">
            <div class="col-sm-2" > 
                <div id="div_id_distance" class="form-group"> 
                    <label for="id_distance" class="control-label  requiredField">Distance*</label>
                    <div class="controls ">{{form.distance}}</div>
                </div>
            </div>

            <div class="col-sm-2" > 
                <div id="div_id_direction" class="form-group"> 
                    <label for="id_direction" class="control-label  requiredField">Direction*</label>
                    <div class="controls ">{{form.direction}}</div>
                </div>
            </div>

            <div class="col-sm-2" > 
                <div id="div_place" class="form-group"> 
                    <label for="id_place" class="control-label  requiredField">Place*</label>
                    <div class="controls ">{{form.place}}</div>
                </div>
            </div>

            <div class="col-sm-2" > 
                <div id="div_id_lot_no" class="form-group"> 
                    <label for="id_lot_no" class="control-label  requiredField">Lot No.*</label>
                    <div class="controls ">{{form.lot_no}}</div>
                </div>
            </div>

            <div class="col-sm-2" > 
                <div id="div_id_street" class="form-group"> 
                    <label for="id_street" class="control-label  requiredField">Street*</label>
                    <div class="controls ">{{form.street}}</div>
                </div>
            </div>

            <div class="col-sm-2" > 
                <div id="div_id_town" class="form-group"> 
                    <label for="id_town" class="control-label  requiredField">Town*</label>
                    <div class="controls ">{{form.town}}</div>
                </div>
            </div>


        </div>


      {% comment %}
<table class="table table-bordered table-striped table-condensed">
    <tbody>
        <tr>
            <th>District*</th>
            <td colspan="3">{{ form.authorised_date }}</td>
        </tr>
        <tr>
            <th class="cbas">Name *</th>
            <td colspan="3" class="cbas">
                    {{ form.name }}
            </td>
            <td colspan="3" class="cbas">
                    {{ current.name }}
            </td>

        </tr>
        <tr>
            <th class="cbas">Description <br/>(leave blank to auto-generate)</th>
            <td colspan="3" class="cbas">
                    {{ form.description }}
                    {{ current.description }}
            </td>
        </tr>
    </tbody>
</table>
      {% endcomment %}

    </div>
    <div id="detail" class="tab-pane fade">
        <h3>Detail</h3>
        <p>Some content in Detail.</p>
    </div>
  </div>

  {% if report == "epfp_planned" %}

    <h1>Bushfire Detail</h1>
    <p>{{ bushfire.name}}</p>
    <p>{{ object.job_code}}</p>

  {% endif %}
    <input type="submit" value="Save" />
  </form>


<script>

    $('.activity-formset').formset({
        addText: 'add another activity',
        deleteText: 'remove'
    })

</script>
{% endblock %}
